---
import Layout from '../layouts/Layout.astro';
import PixelatedImage from '@components/PixelatedImage/PixelatedImage.astro';
import ResumeBox from '../components/ResumeBox/ResumeBox.astro';
import ScrollingFooter from '../components/ScrollingFooter/ScrollingFooter.astro';
import PageShell from '../components/PageShell/PageShell.astro';
---

<Layout title="Leo Strangman." theme="resume" pageTitle="RESUME">
    <PageShell>
        <div class="u:mt-12 u:grid u:grid-cols-1 u:gap-gutter">
            <PixelatedImage
                src={import('@images/resume.png')}
                alt="Leo Strangman resume"
                class="u:h-full u:w-full"
            />
        </div>

        <ResumeBox mode="download" />
        <ScrollingFooter />
    </PageShell>
</Layout>