---
// ScrollingFooter.astro
const year = new Date().getFullYear();
---

<div class="scroll-container u:mt-fluid-xl u:h-[50vh] u:w-full">
    <ul class="scroll-track">
        <li class="scroll-text hover-text glitchable">&copy;{year}</li>
        <li class="scroll-text hover-text glitchable">/* Designed and Developed by LCS */</li>
        <li class="scroll-text hover-text glitchable">&copy;{year}</li>
        <li class="scroll-text hover-text glitchable">/* Open to Work */</li>
    </ul>
</div>